$buttonRadius: 30;
.btn {
  &-basic {
    @extend .eff-cursor-type-pointer;
    border-radius: #{$buttonRadius}px;
    color: white;
    transition: 0.1s;
    border: none;

    &-blue {
      @extend .btn-basic;
      background: rgb(29, 161, 242);

      &:hover {
        background: rgb(16, 157, 241);
      }
    }

    &-red {
      @extend .btn-basic;
      background: rgb(240, 66, 74);

      &:hover {
        background: rgb(255, 62, 71);
      }
    }

    &-green {
      @extend .btn-basic;
      background: rgb(64, 219, 111);
      color: white;

      &:hover {
        background: rgb(38, 200, 87);
      }
    }

    &-grey {
      @extend .btn-basic;
      background: rgb(230, 236, 240);
      color: black;
    }
  }

  &-round {
    @extend .eff-cursor-type-pointer;
    border-radius: 100%;
    transition: 0.1s;

    &:hover {
      background: #ececec;
    }

    &:active {
      outline: 0;
      transition: 0s;
      box-shadow: rgba(0, 132, 255, 0.5) 0 0 0 4px;
    }

    &-padding-2 {
      @extend .btn-round;
      padding: 10px;
    }
  }

  &-switch {
    display: inline-block;
    height: 22px;
    position: relative;
    width: 42px;

    & input {
      display: none;

      &:checked + .slider {
        background-color: #69d15e;

        &:before {
          transform: translateX(20px);
        }
      }
    }

    .slider {
      @extend .eff-cursor-type-pointer;
      background-color: #ff5757;
      bottom: 0;
      cursor: pointer;
      left: 0;
      position: absolute;
      border-radius: 50px;
      right: 0;
      top: 0;
      transition: .4s;

      &:before {
        border-radius: 34px;
        background-color: #fff;
        bottom: 4px;
        content: "";
        height: 14px;
        left: 4px;
        position: absolute;
        transition: 0.4s;
        width: 14px;
      }
    }
  }

  &-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    height: 22px;
    width: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


    & input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked ~ .checkmark {
        /*background-color: transparent;

         */
      }

      &:checked ~ .checkmark:after {
        display: block;
      }
    }

    .checkmark {
      @extend .eff-cursor-type-pointer;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      height: 100%;
      width: 100%;

      background-color: #e6ecf0;

      &:after {
        content: "";
        position: absolute;
        display: none;
        left: 7px;
        top: 3px;
        width: 5px;
        height: 10px;
        border: solid black;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }

  }


  &-dropdown {
    display: inline-block;
    position: relative;

    .button {
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid black;
      }

      &:hover {
        background-color: #eeeeee;
      }
    }

    .input {
      display: none;

      &:checked + .menu {
        display: block;
      }

      & + .menu {
        display: none;
      }
    }


    .menu {
      z-index: 99;
      position: absolute;
      top: 100%;
      border: 1px solid #f0f0f0;
      border-radius: 15px;
      overflow: hidden;
      padding: 0;
      margin-top: 5px;
      box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.13);
      background-color: #ffffff;
      list-style-type: none;

      li {
        padding: 10px 20px;
        cursor: pointer;
        white-space: nowrap;

        &:hover {
          background-color: #f6f6f6;
        }

        a {
          display: block;
          margin: -10px -20px;
          padding: 10px 20px;
        }
      }
    }


  }


}