/* Error: The target selector was not found.
 * Use "@extend .eff-cursor-type-pointer !optional" to avoid this error.
 *   ,
 * 4 |     @extend .eff-cursor-type-pointer;
 *   |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   buttons.scss 4:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: The target selector was not found.\aUse "@extend .eff-cursor-type-pointer !optional" to avoid this error.\a   \2577 \a 4 \2502      @extend .eff-cursor-type-pointer;\d\a   \2502      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   buttons.scss 4:5  root stylesheet';
}
