.pos-fixed {
  position: fixed;
}
.pos-absolute {
  position: absolute;
}
.pos-relative {
  position: relative;
}
.pos-float-left {
  float: left;
}
.pos-float-right {
  float: right;
}
.pos-float-end {
  clear: both;
}
.pos-mrg-right-1 {
  margin-right: 10px;
}
.pos-mrg-bottom-1 {
  margin-bottom: 10px !important;
}
.pos-mrg-bottom-2 {
  margin-bottom: 20px !important;
}
.pos-flex-display, .pos-flex-globally, .pos-flex-vertically, .pos-flex-horizontally {
  display: flex;
}
.pos-flex-horizontally {
  justify-content: center;
}
.pos-flex-vertically {
  align-items: center;
}
.pos-flex-globally {
  align-items: center;
  justify-content: center;
}
.pos-dim-maxwidth {
  width: 100%;
}
.pos-dim-maxheight {
  height: 100%;
}
.pos-dim-screenfixed {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

/*# sourceMappingURL=positioning.css.map */
