
.pos {
  &-fixed {
    position: fixed;
  }

  &-absolute {
    position: absolute;
  }

  &-relative {
    position: relative;
  }

  &-float {
    &-left {
      float: left;
    }

    &-right {
      float: right;
    }

    &-end {
      clear: both;
    }
  }

  &-mrg {
    &-right {
      &-1 {
        margin-right: 10px;
      }
    }

    &-bottom {
      &-1 {
        margin-bottom: 10px !important;
      }
      &-2 {
        margin-bottom: 20px !important;
      }
    }
  }

  &-flex {
    &-display {
      display: flex;
    }

    &-horizontally {
      @extend .pos-flex-display;
      justify-content: center;
    }

    &-vertically {
      @extend .pos-flex-display;
      align-items: center;
    }

    &-globally {
      @extend .pos-flex-display;
      align-items: center;
      justify-content: center;
    }
  }

  &-dim {
    &-maxwidth {
      width: 100%;
    }

    &-maxheight {
      height: 100%;
    }

    &-screenfixed {
      width: 100%;
      height: 100%;
      position: fixed;
      left: 0;
      top: 0;
    }
  }
}