/* Error: The target selector was not found.
 * Use "@extend .txt-semi-bold !optional" to avoid this error.
 *    ,
 * 37 |         @extend .txt-semi-bold;
 *    |         ^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   table.scss 37:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: The target selector was not found.\aUse "@extend .txt-semi-bold !optional" to avoid this error.\a    \2577 \a 37 \2502          @extend .txt-semi-bold;\d\a    \2502          ^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   table.scss 37:9  root stylesheet';
}
