.table {
  $icons: (
          "export":"../images/snake/table/export.svg",
          "filter":"../images/snake/table/filter.svg",
          "columns":"../images/snake/table/columns.svg",
          "search":"../images/snake/table/search.svg",
          "next":"../images/snake/table/next.svg",
          "back":"../images/snake/table/back.svg",
          "order-asc": "../images/snake/table/order-asc.svg",
          "drag": "../images/snake/table/drag.svg"
  );

  @each $name, $path in $icons {
    &-ico-#{$name} {
      background: url('#{$path}');
      background-size: cover;
    }
  }

  .header {
    border-bottom: 1px solid rgb(236, 236, 236);
    height: 60px;
    z-index: 9;

    .left-block {
      width: calc(100% - 221px);
      height: 100%;

      .icon {
        height: 16px;
        width: 16px;
        top: 24px;
        left: 20px;
      }

      input {
        @extend .txt-semi-bold;
        border-radius: 0;
        width: calc(100% - 80px);
        border: none;
        height: 100%;
        position: relative;
        background: transparent;
        font-size: 15px;
        left: 50px;

        &:focus {
          outline: none;
          box-shadow: none !important;
        }

        &::placeholder {
          color: black;
          opacity: 1;
        }
      }
    }

    .right-block {
      border-left: 1px solid rgb(236, 236, 236);
      width: 220px;

      .bloc {
        width: 40px;
        margin-top: 1px;

        .menu {
          width: 165px;
          top: 55px;
          right: 15px;
          padding: 15px;
          z-index: 999999;

          .column {
            padding: 5px;
            border-radius: 20px;
            margin-top: 2px;
            @extend .eff-cursor-type-grabbing;

            &:hover {
              .icon {
                display: block;
              }
            }

            .name {
              font-size: 16px;
              margin-left: 2px;
            }

            .icon {
              height: 12px;
              width: 12px;
              display: none;
              right: 0px;
              top: 9px;
            }

            label {
              padding-left: 0;
              height: 20px;
              width: 20px;
              margin-bottom: 0;
            }

            span {
              &::after {
                width: 3px;
                height: 5px;
                left: 7px;
                top: 5px;
              }
            }

          }


        }

        .big-button {
          width: 120px !important;
          border-radius: 40px;
          height: 32px !important;

          .text {
            font-size: 13px;
            margin-left: 12px;
            margin-right: 5px;


          }

          .number {
            height: 15px;
            font-size: 10px;
            background: rgb(239, 52, 63);
            width: 15px;
            border-radius: 100%;
            color: white;
          }
        }

        .button {
          height: 35px;
          width: 35px;

          .icon {
            height: 14px;
            width: 14px;
          }
        }
      }
    }
  }

  .sliding {

    .right {
      z-index: 5;
      right: 7px;
      background: #ffffff;
      transition: 0s !important;
      border-radius: 30px;
      box-shadow: 0 0 8px -3px rgba(0, 0, 0, 0.5);

      margin-top: 10px;
      height: 30px;
      width: 30px;
    }

    .left {
      @extend .right;
      right: unset;
      left: 7px;
      visibility: hidden;
    }

    .icon {
      width: 10px;
      height: 10px;
    }
  }

  .container {

    position: relative;


    .column {
      min-width: 100px;

      .title {
        height: 50px;
        padding-left: 20px;
        font-size: 14px;
        border-bottom: 1px solid rgb(236, 236, 236);

        .sliding-cursor {
          height: 51px;
          width: 100%;
        }

        .block {
          padding: 5px 27px 5px 15px;
          border-radius: 50px;
          left: -15px;
          position: relative;

          .icon {
            opacity: 0;
            transform: rotate(90deg);
            transition: transform 0.1s;
            height: 11px;
            margin-left: 8px;
            width: 11px;
            top: calc(50% - 5px);
            right: 8px;
          }
        }
      }

      .entries {
        font-size: 13px;

        .entry {
          padding-left: 20px;
          overflow: hidden;
          height: 46px;
          border-bottom: 1px solid rgb(236, 236, 236);

          span {
            position: relative;
            letter-spacing: -2px;
            font-size: 55px;
            color: #e6ebeb;
            top: -15px;
          }

          .rate {
            color: rgb(64, 219, 111) !important;
          }

          .progression {
            height: 8px;
            border-radius: 10px;
            background: #e6ebeb;
            width: 80%;
            overflow: hidden;

            .progress {
              background: rgb(64, 219, 111);
            }
          }
        }
      }
    }
  }

}