.inp {

  &-white {
    $borderColor: #ebebeb;
    background: white;
    margin: 0;
    @extend .txt-medium;
    border: 1px solid #eaeaea;
    font-size: 0.78em;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    width: calc(100% - 20px);


    &::placeholder {
      color: rgb(140, 140, 140);
    }

    &:focus {
      outline: 0;
      transition: 0.2s;
      border-radius: 10px;
      border-color: transparent;
      box-shadow: rgba(0, 132, 255, 0.5) 0 0 0 4px !important;
    }

  }

}