/* Error: The target selector was not found.
 * Use "@extend .txt-medium !optional" to avoid this error.
 *   ,
 * 7 |     @extend .txt-medium;
 *   |     ^^^^^^^^^^^^^^^^^^^
 *   '
 *   inputs.scss 7:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: The target selector was not found.\aUse "@extend .txt-medium !optional" to avoid this error.\a   \2577 \a 7 \2502      @extend .txt-medium;\d\a   \2502      ^^^^^^^^^^^^^^^^^^^\a   \2575 \a   inputs.scss 7:5  root stylesheet';
}
