$blackScrollColor: rgba(0, 0, 0, 0.7);
$blackScrollHoverColor: rgba(0, 0, 0, 0.2);
$blackScrollThumbColor: #888;
.scroll {
  &-black {
    &::-webkit-scrollbar {
      width: 6px;
      cursor: pointer;
      transition: 0.2s;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      transition: 0.2s;
    }

    &::-webkit-scrollbar-track:hover {
      background: #{$blackScrollHoverColor};
      border-radius: 9px;
    }

    &::-webkit-scrollbar-thumb {
      background: #{$blackScrollThumbColor};
      cursor: pointer;
      border-radius: 9px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #{$blackScrollColor};
      cursor: pointer;
    }
  }
}