.scroll-black::-webkit-scrollbar {
  width: 6px;
  cursor: pointer;
  transition: 0.2s;
}
.scroll-black::-webkit-scrollbar-track {
  background: transparent;
  transition: 0.2s;
}
.scroll-black::-webkit-scrollbar-track:hover {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 9px;
}
.scroll-black::-webkit-scrollbar-thumb {
  background: #888;
  cursor: pointer;
  border-radius: 9px;
}
.scroll-black::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

/*# sourceMappingURL=scrolling.css.map */
