.animate {
  &-shine {
    &-basic {
      overflow: hidden;

      &:after {
        content: '';
        top: 0;
        transform: translateX(100%);
        width: 100%;
        height: 100%;
        position: absolute;
        animation: shineSlide 1.2s infinite;
        background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.8)), color-stop(99%, rgba(128, 186, 232, 0)), color-stop(100%, rgba(125, 185, 232, 0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%); /* IE10+ */
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#007db9e8', GradientType=1); /* IE6-9 */
      }
    }

    &-hover {
      position: relative;
      flex: 0 0 auto;
      width: 280px;
      overflow: hidden;
      height: 195px;
      vertical-align: top;
      letter-spacing: normal;
      text-rendering: auto;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        display: block;
        left: 0;
        pointer-events: none;
        width: 0%;
        border-radius: 5px;
        height: 100%;
        background-color: rgba(50, 50, 50, 0.5);
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;

      }

      &:hover:after {
        width: 100%;
        border-radius: 5px;
        pointer-events: none;
        background-color: rgba(0, 0, 0, 0);
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
      }
    }
  }

  &-spinner {
    &-circle {

      &-loader {
        -webkit-animation: rotate 2s linear infinite;
        animation: rotate 2s linear infinite;
        z-index: 2;
        position: absolute;
        width: 40px;
        height: 40px;
        .path {
          stroke-linecap: round !important;
          -webkit-animation: dash 1.5s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite;
          stroke: black;
          stroke-width: 3px;
        }
        @keyframes rotate {
          100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
          }
        }

        @keyframes dash {
          0% {
            stroke-dasharray: 1, 150;
            stroke-dashoffset: 0;
          }
          50% {
            stroke-dasharray: 90, 150;
            stroke-dashoffset: -35;
          }
          100% {
            stroke-dasharray: 90, 150;
            stroke-dashoffset: -124;
          }
        }
      }

      &-stopwatch {
        width: 50px;
        height: 50px;
        border-radius: 100%;

        pointer-events: none;
        margin-bottom: 10px;
        border: 6px solid #e8e8e8;

        .circle {
          left: -6px;
          top: -6px;
          width: 100%;
          height: 100%;
          position: relative;
          border: 5px solid #000;
          border-radius: 50%;
          transform: rotate(45deg);
          clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
          animation: change 5s linear forwards;

          @keyframes change {
            25% {
              clip-path: polygon(50% 50%, 0 0, 0 100%, 0 100%, 0 100%, 0 100%);
            }
            50% {
              clip-path: polygon(50% 50%, 0 0, 0 100%, 100% 100%, 100% 100%, 100% 100%);
            }
            75% {
              clip-path: polygon(50% 50%, 0 0, 0 100%, 100% 100%, 100% 0, 100% 0);
            }
            100% {
              clip-path: polygon(50% 50%, 0 0, 0 100%, 100% 100%, 100% 0, 0% 0%);
            }
          }
        }
      }

      &-progress {
        height: calc(100% + 90px);
        bottom: 0;
        background: linear-gradient(rgba(255, 255, 255, 0.24), rgb(255, 255, 255));
        z-index: 999;

        svg {
          height: 45px;
          width: 45px;

          .Progress {
            fill: transparent;
            stroke-width: 7;
            stroke-linecap: round;
            stroke: black;
            stroke-dasharray: 314.16;
            stroke-dashoffset: 314.16;
            transition: stroke-dashoffset 0.5s ease;
          }

          .Text {
            fill: black;
            font: 35px "Montserrat Bold", Arial, sans-serif;
            -moz-transform: translateY(0.25em);
            -ms-transform: translateY(0.25em);
            -webkit-transform: translateY(0.25em);
            transform: translateY(0.25em);

            .Number {
              font-size: 0.6em;
              line-height: 1;
              text-anchor: middle;
              -moz-transform: translateY(-1px);
              -ms-transform: translateY(-1px);
              -webkit-transform: translateY(-1px);
              transform: translateY(-1px);
            }
          }
        }
      }
    }
  }


  &-dots {

    &-jumping {
      position: relative;

      span {
        display: inline-block;
        float: left;
        margin: 0 3.6px;
        animation: jump 1s infinite;
        position: relative;
      }

      @for $i from 1 through 3 {
        span:nth-child(#{$i}) {
          animation-delay: ($i - 1) / 10 + s;
        }
      }


      @keyframes jump {
        0% {
          bottom: 0px;
        }
        20% {
          bottom: 7px;
        }
        40% {
          bottom: 0px;
        }
      }
    }

    & span {
      opacity: 0;
      animation: ellipsis-dot 1s infinite;
      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          animation-delay: ($i - 1) / 10 + s;
        }
      }
      @keyframes ellipsis-dot {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }

    }
  }
}


