@import "snake/snake";

body {
  margin: 0;
  padding: 0;
  background: white;
  overflow-x: hidden;
}

.header {
  position: relative;
  width: 100%;
  height: 100px;

  .icon {
    height: 30px;
    width: 30px;
    top: -20px;
    position: relative;
    background: url("../img/fingerprint.svg");
    background-size: cover;
  }

  .title {
    text-align: center;
    font-size: 18px;
    width: 100%;
    position: absolute;
    margin-top: 15px;
  }

}

.border {
  border: 8px solid #ededed !important;
}

.drag {
  background: #f5fcff !important;
  border: 8px solid #6ecfff !important;
}

.draggable {
  @extend .pos-absolute;

  padding: 20px;
  width: calc(70% - 40px);
  margin-top: 5px;
  left: 15%;
  height: calc(100% - 273px);
  border-radius: 123px;
  background: white;
  border: 8px solid transparent;

  .result {
    @extend .pos-flex-globally;
    bottom: 0px;
    width: 100%;
    background: #ff3a3a;
    height: 40px;
    color: white;
  }

  .image {
    position: relative;
    float: left;
    margin-right: 10px;
    background: #ededed;
    margin-bottom: 10px;
    width: 240px;
    border-radius: 75px;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
    max-height: 100%;

    img {
      width: 150%;
    }
  }

  .zone {
    top: 0px;
  }

  .images {
    width: calc(100% + 20px);
    height: 100%;
  }

  .icon {
    position: absolute;
    width: 200px;
    height: 200px;
    background: url("../img/upload.svg");
    background-size: cover;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
  }
}

.settings {
  position: absolute;
  width: 100%;
  bottom: 20px;

  .select-style {
    position: relative;
    font-size: 1.75em;
    margin: 0 auto;
    background: transparent;
    font-weight: 900;
    width: 330px;
    padding: 18px 0;
    text-align: center;
    line-height: 1;
    cursor: pointer;
  }

  .select-style:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 65px;
    transition: background-color .3s ease-in-out;
    box-shadow: 0 4px 12px -4px rgba(0, 0, 0, .5);
    animation: jelly 6s ease-in-out infinite;
    transform-origin: 50% 50% 20px;
  }

  .select-style select {
    padding: 4px 27px;
    width: calc(100% - 52px);
    left: -13px;
    position: relative;
    border: none;
    box-shadow: none;
    background-color: #ff363600;
    /* background-image: none; */
    /* -webkit-appearance: none; */
    -moz-appearance: none;
    appearance: none;
  }

  .select-style select:focus {
    outline: none;
    color: black;
  }

}

.IconFingerPrint {
  background: url("../img/fingerprint.svg");
  background-size: cover;
}

.IconUpload {
  background: url("../img/upload.svg");
  background-size: cover;
}

.FlexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ElementScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.FontBold {
  font-family: "Montserrat SemiBold", sans-serif;
}

.FontBigBold {
  font-family: "Montserrat Extra Bold", sans-serif;
}

.FontBlack {
  font-family: "Montserrat Black", sans-serif;
}

@keyframes jelly {
  0% {
    transform: perspective(180px) rotateY(5deg);
  }

  50% {
    transform: perspective(180px) rotateY(-5deg);
  }

  100% {
    transform: perspective(180px) rotateY(5deg);
  }
}