$icons: (
        "medium":"../fonts/Montserrat-Medium.ttf",
        "bold":"../fonts/Montserrat-Bold.ttf",
        "extra-bold":"../fonts/Montserrat-ExtraBold.ttf",
        "semi-bold":"../fonts/Montserrat-SemiBold.ttf"
);
@each $name, $path in $icons {
  @font-face {
    font-family: "#{$name}";
    src: url("#{$path}");
  }
}

.txt {
  @each $name, $path in $icons {
    &-#{$name} {
      font-family: "#{$name}", sans-serif;
    }
  }

  &-separator {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;

    span {
      position: relative;
      display: inline-block;

      &:before, &:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 9999px;
        height: 0.5px;
        background: #efefef;
      }

      &:before {
        right: 100%;
        margin-right: 15px;
      }

      &:after {
        left: 100%;
        margin-left: 15px;
      }
    }
  }


  &-align-center {
    text-align: center;
  }

  &-underline {
    text-decoration: underline;
  }

  &-badge {
    span {
      background: #e3e3e3;
      padding: 2px 4px 2px 4px;
      border-radius: 4px;
    }
  }
}
