@font-face {
  font-family: "medium";
  src: url("../fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "bold";
  src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "extra-bold";
  src: url("../fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: "semi-bold";
  src: url("../fonts/Montserrat-SemiBold.ttf");
}
.txt-medium {
  font-family: "medium", sans-serif;
}
.txt-bold {
  font-family: "bold", sans-serif;
}
.txt-extra-bold {
  font-family: "extra-bold", sans-serif;
}
.txt-semi-bold {
  font-family: "semi-bold", sans-serif;
}
.txt-separator {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}
.txt-separator span {
  position: relative;
  display: inline-block;
}
.txt-separator span:before, .txt-separator span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 0.5px;
  background: #efefef;
}
.txt-separator span:before {
  right: 100%;
  margin-right: 15px;
}
.txt-separator span:after {
  left: 100%;
  margin-left: 15px;
}
.txt-align-center {
  text-align: center;
}
.txt-underline {
  text-decoration: underline;
}
.txt-badge span {
  background: #e3e3e3;
  padding: 2px 4px 2px 4px;
  border-radius: 4px;
}

/*# sourceMappingURL=texts.css.map */
