.pos-fixed {
  position: fixed;
}
.pos-absolute {
  position: absolute;
}
.pos-relative {
  position: relative;
}
.pos-float-left {
  float: left;
}
.pos-float-right {
  float: right;
}
.pos-float-end {
  clear: both;
}
.pos-mrg-right-1 {
  margin-right: 10px;
}
.pos-mrg-bottom-1 {
  margin-bottom: 10px !important;
}
.pos-mrg-bottom-2 {
  margin-bottom: 20px !important;
}
.pos-flex-display, .pos-flex-globally, .pos-flex-vertically, .eff-cursor-alt .alt-title, .eff-cursor-alt-left .alt-title, .eff-cursor-alt-right .alt-title, .eff-cursor-alt-top .alt-title, .eff-cursor-alt-bottom .alt-title, .pos-flex-horizontally {
  display: flex;
}
.pos-flex-horizontally {
  justify-content: center;
}
.pos-flex-vertically, .eff-cursor-alt .alt-title, .eff-cursor-alt-left .alt-title, .eff-cursor-alt-right .alt-title, .eff-cursor-alt-top .alt-title, .eff-cursor-alt-bottom .alt-title {
  align-items: center;
}
.pos-flex-globally {
  align-items: center;
  justify-content: center;
}
.pos-dim-maxwidth {
  width: 100%;
}
.pos-dim-maxheight {
  height: 100%;
}
.pos-dim-screenfixed {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.eff-cursor-events-none, .eff-cursor-alt .alt-title, .eff-cursor-alt-left .alt-title, .eff-cursor-alt-right .alt-title, .eff-cursor-alt-top .alt-title, .eff-cursor-alt-bottom .alt-title {
  pointer-events: none;
}
.eff-cursor-alt:hover .alt-title, .eff-cursor-alt-left:hover .alt-title, .eff-cursor-alt-right:hover .alt-title, .eff-cursor-alt-top:hover .alt-title, .eff-cursor-alt-bottom:hover .alt-title {
  visibility: visible;
  opacity: 1;
  transition: 0.1s !important;
  transform: scale(1);
  bottom: -25px !important;
}
.eff-cursor-alt .alt-title, .eff-cursor-alt-left .alt-title, .eff-cursor-alt-right .alt-title, .eff-cursor-alt-top .alt-title, .eff-cursor-alt-bottom .alt-title {
  white-space: nowrap;
  position: absolute;
  z-index: 999999;
  border-radius: 6px;
  color: white;
  transform: scale(0.9);
  padding: 0 20px 0 20px;
  overflow-wrap: break-word;
  font-size: 10px;
  text-align: center;
  height: 22px;
  bottom: -15px;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0s !important;
  visibility: hidden;
  opacity: 0;
}
.eff-cursor-alt .alt-title hr, .eff-cursor-alt-left .alt-title hr, .eff-cursor-alt-right .alt-title hr, .eff-cursor-alt-top .alt-title hr, .eff-cursor-alt-bottom .alt-title hr {
  height: 1px;
  border: 0;
  background: #3f3939;
}
.eff-cursor-alt .alt-title:after, .eff-cursor-alt-left .alt-title:after, .eff-cursor-alt-right .alt-title:after, .eff-cursor-alt-top .alt-title:after, .eff-cursor-alt-bottom .alt-title:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 3px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.7);
  border-top: 0;
  margin-left: -3px;
  margin-top: -3px;
}
.eff-cursor-alt-top:hover .alt-title {
  top: -25px;
}
.eff-cursor-alt-top .alt-title {
  top: -15px;
}
.eff-cursor-alt-top .alt-title:after {
  top: unset !important;
  bottom: -4px !important;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
}
.eff-cursor-alt-right:hover .alt-title {
  left: calc(100% + 5px);
}
.eff-cursor-alt-right .alt-title {
  left: calc(100% - 15px);
  top: 50% !important;
  margin-top: -10px;
}
.eff-cursor-alt-right .alt-title:after {
  top: unset !important;
  right: -5px;
  border-style: solid;
  width: 0;
  height: 0;
  left: -5px;
  margin: unset;
  border-width: 4.5px 5px 4.5px 0;
  border-color: transparent rgba(0, 0, 0, 0.7) transparent transparent;
}
.eff-cursor-alt-left:hover .alt-title {
  right: calc(100% + 5px);
  left: unset;
}
.eff-cursor-alt-left .alt-title {
  right: calc(100% - 15px);
  top: 50% !important;
  margin-top: -10px;
}
.eff-cursor-alt-left .alt-title:after {
  top: unset !important;
  right: -5px;
  border-style: solid;
  width: 0;
  height: 0;
  left: unset;
  margin: unset;
  border-width: 4.5px 0 4.5px 5px;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.7);
}
.eff-cursor-type-pointer, .btn-checkbox .checkmark, .btn-switch .slider, .btn-round, .btn-round-padding-2, .btn-basic, .btn-basic-grey, .btn-basic-green, .btn-basic-red, .btn-basic-blue, .eff-cursor-outline-hover-4:hover, .eff-cursor-outline-hover-3:hover, .box-slider .dots .dot:hover, .eff-cursor-outline-hover-2:hover, .eff-cursor-outline-focus:focus, .eff-cursor-outline-active:active {
  cursor: pointer;
}
.eff-cursor-type-move {
  cursor: move;
}
.eff-cursor-type-grabbing, .table .header .right-block .bloc .menu .column {
  cursor: grabbing;
}
.eff-cursor-outline-none {
  outline: none;
}
.eff-cursor-outline-active:active {
  box-shadow: rgba(0, 132, 255, 0.5) 0 0 0 4px !important;
  transition: 0.2s;
  outline: 0;
  border-color: rgba(78, 79, 99, 0.5);
}
.eff-cursor-outline-focus:focus {
  box-shadow: rgba(0, 132, 255, 0.5) 0 0 0 4px !important;
  transition: 0.2s;
  outline: 0;
  border-color: rgba(78, 79, 99, 0.5);
}
.eff-cursor-outline-hover-2:hover {
  box-shadow: rgba(0, 132, 255, 0.5) 0 0 0 2px !important;
  transition: 0.2s;
}
.eff-cursor-outline-hover-3:hover, .box-slider .dots .dot:hover {
  box-shadow: rgba(0, 132, 255, 0.5) 0 0 0 3px !important;
  transition: 0.2s;
}
.eff-cursor-outline-hover-4:hover {
  box-shadow: rgba(0, 132, 255, 0.5) 0 0 0 4px !important;
  transition: 0.2s;
}

.animate-shine-basic {
  overflow: hidden;
}
.animate-shine-basic:after {
  content: "";
  top: 0;
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  position: absolute;
  animation: shineSlide 1.2s infinite;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.8)), color-stop(99%, rgba(128, 186, 232, 0)), color-stop(100%, rgba(125, 185, 232, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffffff", endColorstr="#007db9e8", GradientType=1);
  /* IE6-9 */
}
.animate-shine-hover {
  position: relative;
  flex: 0 0 auto;
  width: 280px;
  overflow: hidden;
  height: 195px;
  vertical-align: top;
  letter-spacing: normal;
  text-rendering: auto;
}
.animate-shine-hover:after {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  left: 0;
  pointer-events: none;
  width: 0%;
  border-radius: 5px;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.5);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.animate-shine-hover:hover:after {
  width: 100%;
  border-radius: 5px;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.animate-spinner-circle-loader {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  width: 40px;
  height: 40px;
}
.animate-spinner-circle-loader .path {
  stroke-linecap: round !important;
  -webkit-animation: dash 1.5s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite;
  stroke: black;
  stroke-width: 3px;
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
.animate-spinner-circle-stopwatch {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  pointer-events: none;
  margin-bottom: 10px;
  border: 6px solid #e8e8e8;
}
.animate-spinner-circle-stopwatch .circle {
  left: -6px;
  top: -6px;
  width: 100%;
  height: 100%;
  position: relative;
  border: 5px solid #000;
  border-radius: 50%;
  transform: rotate(45deg);
  clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  animation: change 5s linear forwards;
}
@keyframes change {
  25% {
    clip-path: polygon(50% 50%, 0 0, 0 100%, 0 100%, 0 100%, 0 100%);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 0 100%, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 0 100%, 100% 100%, 100% 0, 100% 0);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 0 100%, 100% 100%, 100% 0, 0% 0%);
  }
}
.animate-spinner-circle-progress {
  height: calc(100% + 90px);
  bottom: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.24), white);
  z-index: 999;
}
.animate-spinner-circle-progress svg {
  height: 45px;
  width: 45px;
}
.animate-spinner-circle-progress svg .Progress {
  fill: transparent;
  stroke-width: 7;
  stroke-linecap: round;
  stroke: black;
  stroke-dasharray: 314.16;
  stroke-dashoffset: 314.16;
  transition: stroke-dashoffset 0.5s ease;
}
.animate-spinner-circle-progress svg .Text {
  fill: black;
  font: 35px "Montserrat Bold", Arial, sans-serif;
  -moz-transform: translateY(0.25em);
  -ms-transform: translateY(0.25em);
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);
}
.animate-spinner-circle-progress svg .Text .Number {
  font-size: 0.6em;
  line-height: 1;
  text-anchor: middle;
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}
.animate-dots-jumping {
  position: relative;
}
.animate-dots-jumping span {
  display: inline-block;
  float: left;
  margin: 0 3.6px;
  animation: jump 1s infinite;
  position: relative;
}
.animate-dots-jumping span:nth-child(1) {
  animation-delay: 0s;
}
.animate-dots-jumping span:nth-child(2) {
  animation-delay: 0.1s;
}
.animate-dots-jumping span:nth-child(3) {
  animation-delay: 0.2s;
}
@keyframes jump {
  0% {
    bottom: 0px;
  }
  20% {
    bottom: 7px;
  }
  40% {
    bottom: 0px;
  }
}
.animate-dots span {
  opacity: 0;
  animation: ellipsis-dot 1s infinite;
}
.animate-dots span:nth-child(1) {
  animation-delay: 0s;
}
.animate-dots span:nth-child(2) {
  animation-delay: 0.1s;
}
.animate-dots span:nth-child(3) {
  animation-delay: 0.2s;
}
@keyframes ellipsis-dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.scroll-black::-webkit-scrollbar {
  width: 6px;
  cursor: pointer;
  transition: 0.2s;
}
.scroll-black::-webkit-scrollbar-track {
  background: transparent;
  transition: 0.2s;
}
.scroll-black::-webkit-scrollbar-track:hover {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 9px;
}
.scroll-black::-webkit-scrollbar-thumb {
  background: #888;
  cursor: pointer;
  border-radius: 9px;
}
.scroll-black::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.btn-basic, .btn-basic-grey, .btn-basic-green, .btn-basic-red, .btn-basic-blue {
  border-radius: 30px;
  color: white;
  transition: 0.1s;
  border: none;
}
.btn-basic-blue {
  background: #1da1f2;
}
.btn-basic-blue:hover {
  background: #109df1;
}
.btn-basic-red {
  background: #f0424a;
}
.btn-basic-red:hover {
  background: #ff3e47;
}
.btn-basic-green {
  background: #40db6f;
  color: white;
}
.btn-basic-green:hover {
  background: #26c857;
}
.btn-basic-grey {
  background: #e6ecf0;
  color: black;
}
.btn-round, .btn-round-padding-2 {
  border-radius: 100%;
  transition: 0.1s;
}
.btn-round:hover, .btn-round-padding-2:hover {
  background: #ececec;
}
.btn-round:active, .btn-round-padding-2:active {
  outline: 0;
  transition: 0s;
  box-shadow: rgba(0, 132, 255, 0.5) 0 0 0 4px;
}
.btn-round-padding-2 {
  padding: 10px;
}
.btn-switch {
  display: inline-block;
  height: 22px;
  position: relative;
  width: 42px;
}
.btn-switch input {
  display: none;
}
.btn-switch input:checked + .slider {
  background-color: #69d15e;
}
.btn-switch input:checked + .slider:before {
  transform: translateX(20px);
}
.btn-switch .slider {
  background-color: #ff5757;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  border-radius: 50px;
  right: 0;
  top: 0;
  transition: 0.4s;
}
.btn-switch .slider:before {
  border-radius: 34px;
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 14px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 14px;
}
.btn-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  height: 22px;
  width: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.btn-checkbox input:checked ~ .checkmark {
  /*background-color: transparent;

   */
}
.btn-checkbox input:checked ~ .checkmark:after {
  display: block;
}
.btn-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-color: #e6ecf0;
}
.btn-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btn-dropdown {
  display: inline-block;
  position: relative;
}
.btn-dropdown .button:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}
.btn-dropdown .button:hover {
  background-color: #eeeeee;
}
.btn-dropdown .input {
  display: none;
}
.btn-dropdown .input:checked + .menu {
  display: block;
}
.btn-dropdown .input + .menu {
  display: none;
}
.btn-dropdown .menu {
  z-index: 99;
  position: absolute;
  top: 100%;
  border: 1px solid #f0f0f0;
  border-radius: 15px;
  overflow: hidden;
  padding: 0;
  margin-top: 5px;
  box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.13);
  background-color: #ffffff;
  list-style-type: none;
}
.btn-dropdown .menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}
.btn-dropdown .menu li:hover {
  background-color: #f6f6f6;
}
.btn-dropdown .menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

@font-face {
  font-family: "medium";
  src: url("../fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "bold";
  src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "extra-bold";
  src: url("../fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: "semi-bold";
  src: url("../fonts/Montserrat-SemiBold.ttf");
}
.txt-medium, .inp-white {
  font-family: "medium", sans-serif;
}
.txt-bold {
  font-family: "bold", sans-serif;
}
.txt-extra-bold {
  font-family: "extra-bold", sans-serif;
}
.txt-semi-bold, .table .header .left-block input {
  font-family: "semi-bold", sans-serif;
}
.txt-separator {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}
.txt-separator span {
  position: relative;
  display: inline-block;
}
.txt-separator span:before, .txt-separator span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 0.5px;
  background: #efefef;
}
.txt-separator span:before {
  right: 100%;
  margin-right: 15px;
}
.txt-separator span:after {
  left: 100%;
  margin-left: 15px;
}
.txt-align-center {
  text-align: center;
}
.txt-underline {
  text-decoration: underline;
}
.txt-badge span {
  background: #e3e3e3;
  padding: 2px 4px 2px 4px;
  border-radius: 4px;
}

.box-white, .box-white-radius-3, .box-white-border-3-shadow-3-radius-3, .box-white-border-3-radius-3, .box-white-radius-3-shadow-3, .box-white-border-3-shadow-2-radius-3, .box-white-radius-3-shadow-2, .box-white-border-3-shadow-1-radius-3, .box-white-radius-3-shadow-1, .box-white-shadow-3, .box-white-border-3-shadow-3-radius-2, .box-white-border-3-shadow-3-radius-1, .box-white-border-3-shadow-3, .box-white-border-3, .box-white-border-3-shadow-2-radius-2, .box-white-border-3-shadow-2-radius-1, .box-white-border-3-radius-2, .box-white-border-3-shadow-2, .box-white-border-3-shadow-1-radius-2, .box-white-border-3-shadow-1-radius-1, .box-white-border-3-radius-1, .box-white-border-3-shadow-1, .box-white-radius-2, .box-white-border-2-shadow-3-radius-2, .box-white-radius-2-shadow-3, .box-white-border-2-shadow-2-radius-2, .box-white-border-2-radius-2, .box-white-radius-2-shadow-2, .box-white-border-2-shadow-1-radius-2, .box-white-radius-2-shadow-1, .box-white-shadow-2, .box-white-border-2-shadow-2-radius-3, .box-white-border-2-shadow-2-radius-1, .box-white-border-2-shadow-2, .box-white-border-2, .box-white-border-2-shadow-3-radius-3, .box-white-border-2-shadow-3-radius-1, .box-white-border-2-radius-3, .box-white-border-2-shadow-3, .box-white-border-2-shadow-1-radius-3, .box-white-border-2-shadow-1-radius-1, .box-white-border-2-radius-1, .box-white-border-2-shadow-1, .box-white-radius-1, .box-white-border-1-shadow-3-radius-1, .box-white-radius-1-shadow-3, .box-white-border-1-shadow-2-radius-1, .box-white-radius-1-shadow-2, .box-white-border-1-shadow-1-radius-1, .box-white-border-1-radius-1, .box-white-radius-1-shadow-1, .box-white-shadow-1, .box-white-border-1-shadow-1-radius-3, .box-white-border-1-shadow-1-radius-2, .box-white-border-1-shadow-1, .box-white-border-1, .box-white-border-1-shadow-3-radius-3, .box-white-border-1-shadow-3-radius-2, .box-white-border-1-radius-3, .box-white-border-1-shadow-3, .box-white-border-1-shadow-2-radius-3, .box-white-border-1-shadow-2-radius-2, .box-white-border-1-radius-2, .box-white-border-1-shadow-2 {
  background: white;
}
.box-white-border-1, .box-white-border-1-shadow-3-radius-3, .box-white-border-1-shadow-3-radius-2, .box-white-border-1-shadow-3-radius-1, .box-white-border-1-radius-3, .box-white-border-1-shadow-3, .box-white-border-1-shadow-2-radius-3, .box-white-border-1-shadow-2-radius-2, .box-white-border-1-shadow-2-radius-1, .box-white-border-1-radius-2, .box-white-border-1-shadow-2, .box-white-border-1-shadow-1-radius-3, .box-white-border-1-shadow-1-radius-2, .box-white-border-1-shadow-1-radius-1, .box-white-border-1-radius-1, .box-white-border-1-shadow-1 {
  border: 1px solid #ebebeb;
}
.box-white-shadow-1, .box-white-border-3-shadow-1-radius-3, .box-white-border-3-shadow-1-radius-2, .box-white-border-3-shadow-1-radius-1, .box-white-radius-3-shadow-1, .box-white-border-3-shadow-1, .box-white-border-2-shadow-1-radius-3, .box-white-border-2-shadow-1-radius-2, .box-white-border-2-shadow-1-radius-1, .box-white-radius-2-shadow-1, .box-white-border-2-shadow-1, .box-white-border-1-shadow-1-radius-3, .box-white-border-1-shadow-1-radius-2, .box-white-border-1-shadow-1-radius-1, .box-white-radius-1-shadow-1, .box-white-border-1-shadow-1 {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.08);
}
.box-white-radius-1, .box-white-border-3-shadow-3-radius-1, .box-white-border-3-shadow-2-radius-1, .box-white-border-3-shadow-1-radius-1, .box-white-border-3-radius-1, .box-white-border-2-shadow-3-radius-1, .box-white-border-2-shadow-2-radius-1, .box-white-border-2-shadow-1-radius-1, .box-white-border-2-radius-1, .box-white-border-1-shadow-3-radius-1, .box-white-radius-1-shadow-3, .box-white-border-1-shadow-2-radius-1, .box-white-radius-1-shadow-2, .box-white-border-1-shadow-1-radius-1, .box-white-border-1-radius-1, .box-white-radius-1-shadow-1 {
  border-radius: 5px;
}
.box-white-border-2, .box-white-border-2-shadow-3-radius-3, .box-white-border-2-shadow-3-radius-2, .box-white-border-2-shadow-3-radius-1, .box-white-border-2-radius-3, .box-white-border-2-shadow-3, .box-white-border-2-shadow-2-radius-3, .box-white-border-2-shadow-2-radius-2, .box-white-border-2-shadow-2-radius-1, .box-white-border-2-radius-2, .box-white-border-2-shadow-2, .box-white-border-2-shadow-1-radius-3, .box-white-border-2-shadow-1-radius-2, .box-white-border-2-shadow-1-radius-1, .box-white-border-2-radius-1, .box-white-border-2-shadow-1 {
  border: 2px solid #ebebeb;
}
.box-white-shadow-2, .box-white-border-3-shadow-2-radius-3, .box-white-border-3-shadow-2-radius-2, .box-white-border-3-shadow-2-radius-1, .box-white-radius-3-shadow-2, .box-white-border-3-shadow-2, .box-white-border-2-shadow-2-radius-3, .box-white-border-2-shadow-2-radius-2, .box-white-border-2-shadow-2-radius-1, .box-white-radius-2-shadow-2, .box-white-border-2-shadow-2, .box-white-border-1-shadow-2, .box-white-radius-1-shadow-2, .box-white-border-1-shadow-2-radius-1, .box-white-border-1-shadow-2-radius-2, .box-white-border-1-shadow-2-radius-3 {
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.08);
}
.box-white-radius-2, .box-white-border-3-shadow-3-radius-2, .box-white-border-3-shadow-2-radius-2, .box-white-border-3-radius-2, .box-white-border-3-shadow-1-radius-2, .box-white-border-2-shadow-3-radius-2, .box-white-radius-2-shadow-3, .box-white-border-2-shadow-2-radius-2, .box-white-border-2-radius-2, .box-white-radius-2-shadow-2, .box-white-border-2-shadow-1-radius-2, .box-white-radius-2-shadow-1, .box-white-border-1-shadow-1-radius-2, .box-white-border-1-radius-2, .box-white-border-1-shadow-2-radius-2, .box-white-border-1-shadow-3-radius-2 {
  border-radius: 10px;
}
.box-white-border-3, .box-white-border-3-shadow-3-radius-3, .box-white-border-3-shadow-3-radius-2, .box-white-border-3-shadow-3-radius-1, .box-white-border-3-radius-3, .box-white-border-3-shadow-3, .box-white-border-3-shadow-2-radius-3, .box-white-border-3-shadow-2-radius-2, .box-white-border-3-shadow-2-radius-1, .box-white-border-3-radius-2, .box-white-border-3-shadow-2, .box-white-border-3-shadow-1-radius-3, .box-white-border-3-shadow-1-radius-2, .box-white-border-3-shadow-1-radius-1, .box-white-border-3-radius-1, .box-white-border-3-shadow-1 {
  border: 3px solid #ebebeb;
}
.box-white-shadow-3, .box-white-border-3-shadow-3-radius-3, .box-white-border-3-shadow-3-radius-2, .box-white-border-3-shadow-3-radius-1, .box-white-radius-3-shadow-3, .box-white-border-3-shadow-3, .box-white-border-1-shadow-3, .box-white-radius-1-shadow-3, .box-white-border-1-shadow-3-radius-1, .box-white-border-1-shadow-3-radius-2, .box-white-border-1-shadow-3-radius-3, .box-white-border-2-shadow-3, .box-white-radius-2-shadow-3, .box-white-border-2-shadow-3-radius-1, .box-white-border-2-shadow-3-radius-2, .box-white-border-2-shadow-3-radius-3 {
  box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.08);
}
.box-white-radius-3, .box-white-border-3-shadow-3-radius-3, .box-white-border-3-radius-3, .box-white-radius-3-shadow-3, .box-white-border-3-shadow-2-radius-3, .box-white-radius-3-shadow-2, .box-white-border-3-shadow-1-radius-3, .box-white-radius-3-shadow-1, .box-white-border-1-shadow-1-radius-3, .box-white-border-1-shadow-2-radius-3, .box-white-border-1-radius-3, .box-white-border-1-shadow-3-radius-3, .box-white-border-2-shadow-1-radius-3, .box-white-border-2-shadow-2-radius-3, .box-white-border-2-radius-3, .box-white-border-2-shadow-3-radius-3 {
  border-radius: 15px;
}
.box-slider {
  position: relative;
  width: 300px;
  height: 200px;
  color: black;
  overflow: hidden;
  user-select: none;
  background-color: #dfdfdf;
  border-radius: 15px;
}
.box-slider .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.box-slider .dots {
  width: 100%;
  bottom: 12%;
  height: 11px;
  position: absolute;
  text-align: center;
  z-index: 99;
  cursor: default;
}
.box-slider .dots .dot {
  top: -5px;
  width: 18px;
  height: 18px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: white;
}
.box-slider #slider-slide-checker-1, .box-slider #slider-slide-checker-2, .box-slider #slider-slide-checker-3, .box-slider #slider-slide-checker-4, .box-slider #slider-slide-checker-5 {
  display: none;
}
.box-slider #slider-slide-checker-1:checked ~ #slider-slide-1,
.box-slider #slider-slide-checker-2:checked ~ #slider-slide-2,
.box-slider #slider-slide-checker-3:checked ~ #slider-slide-3,
.box-slider #slider-slide-checker-4:checked ~ #slider-slide-4,
.box-slider #slider-slide-checker-5:checked ~ #slider-slide-5 {
  z-index: 9;
}
.box-slider #slider-slide-checker-1:checked ~ .dots #slider-dot-1,
.box-slider #slider-slide-checker-2:checked ~ .dots #slider-dot-2,
.box-slider #slider-slide-checker-3:checked ~ .dots #slider-dot-3,
.box-slider #slider-slide-checker-4:checked ~ .dots #slider-dot-4,
.box-slider #slider-slide-checker-5:checked ~ .dots #slider-dot-5 {
  background-color: #6e6e6e;
}

.inp-white {
  background: white;
  margin: 0;
  border: 1px solid #eaeaea;
  font-size: 0.78em;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  width: calc(100% - 20px);
}
.inp-white::placeholder {
  color: #8c8c8c;
}
.inp-white:focus {
  outline: 0;
  transition: 0.2s;
  border-radius: 10px;
  border-color: transparent;
  box-shadow: rgba(0, 132, 255, 0.5) 0 0 0 4px !important;
}

.table-ico-export {
  background: url("../images/snake/table/export.svg");
  background-size: cover;
}
.table-ico-filter {
  background: url("../images/snake/table/filter.svg");
  background-size: cover;
}
.table-ico-columns {
  background: url("../images/snake/table/columns.svg");
  background-size: cover;
}
.table-ico-search {
  background: url("../images/snake/table/search.svg");
  background-size: cover;
}
.table-ico-next {
  background: url("../images/snake/table/next.svg");
  background-size: cover;
}
.table-ico-back {
  background: url("../images/snake/table/back.svg");
  background-size: cover;
}
.table-ico-order-asc {
  background: url("../images/snake/table/order-asc.svg");
  background-size: cover;
}
.table-ico-drag {
  background: url("../images/snake/table/drag.svg");
  background-size: cover;
}
.table .header {
  border-bottom: 1px solid #ececec;
  height: 60px;
  z-index: 9;
}
.table .header .left-block {
  width: calc(100% - 221px);
  height: 100%;
}
.table .header .left-block .icon {
  height: 16px;
  width: 16px;
  top: 24px;
  left: 20px;
}
.table .header .left-block input {
  border-radius: 0;
  width: calc(100% - 80px);
  border: none;
  height: 100%;
  position: relative;
  background: transparent;
  font-size: 15px;
  left: 50px;
}
.table .header .left-block input:focus {
  outline: none;
  box-shadow: none !important;
}
.table .header .left-block input::placeholder {
  color: black;
  opacity: 1;
}
.table .header .right-block {
  border-left: 1px solid #ececec;
  width: 220px;
}
.table .header .right-block .bloc {
  width: 40px;
  margin-top: 1px;
}
.table .header .right-block .bloc .menu {
  width: 165px;
  top: 55px;
  right: 15px;
  padding: 15px;
  z-index: 999999;
}
.table .header .right-block .bloc .menu .column {
  padding: 5px;
  border-radius: 20px;
  margin-top: 2px;
}
.table .header .right-block .bloc .menu .column:hover .icon {
  display: block;
}
.table .header .right-block .bloc .menu .column .name {
  font-size: 16px;
  margin-left: 2px;
}
.table .header .right-block .bloc .menu .column .icon {
  height: 12px;
  width: 12px;
  display: none;
  right: 0px;
  top: 9px;
}
.table .header .right-block .bloc .menu .column label {
  padding-left: 0;
  height: 20px;
  width: 20px;
  margin-bottom: 0;
}
.table .header .right-block .bloc .menu .column span::after {
  width: 3px;
  height: 5px;
  left: 7px;
  top: 5px;
}
.table .header .right-block .bloc .big-button {
  width: 120px !important;
  border-radius: 40px;
  height: 32px !important;
}
.table .header .right-block .bloc .big-button .text {
  font-size: 13px;
  margin-left: 12px;
  margin-right: 5px;
}
.table .header .right-block .bloc .big-button .number {
  height: 15px;
  font-size: 10px;
  background: #ef343f;
  width: 15px;
  border-radius: 100%;
  color: white;
}
.table .header .right-block .bloc .button {
  height: 35px;
  width: 35px;
}
.table .header .right-block .bloc .button .icon {
  height: 14px;
  width: 14px;
}
.table .sliding .right, .table .sliding .left {
  z-index: 5;
  right: 7px;
  background: #ffffff;
  transition: 0s !important;
  border-radius: 30px;
  box-shadow: 0 0 8px -3px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  height: 30px;
  width: 30px;
}
.table .sliding .left {
  right: unset;
  left: 7px;
  visibility: hidden;
}
.table .sliding .icon {
  width: 10px;
  height: 10px;
}
.table .container {
  position: relative;
}
.table .container .column {
  min-width: 100px;
}
.table .container .column .title {
  height: 50px;
  padding-left: 20px;
  font-size: 14px;
  border-bottom: 1px solid #ececec;
}
.table .container .column .title .sliding-cursor {
  height: 51px;
  width: 100%;
}
.table .container .column .title .block {
  padding: 5px 27px 5px 15px;
  border-radius: 50px;
  left: -15px;
  position: relative;
}
.table .container .column .title .block .icon {
  opacity: 0;
  transform: rotate(90deg);
  transition: transform 0.1s;
  height: 11px;
  margin-left: 8px;
  width: 11px;
  top: calc(50% - 5px);
  right: 8px;
}
.table .container .column .entries {
  font-size: 13px;
}
.table .container .column .entries .entry {
  padding-left: 20px;
  overflow: hidden;
  height: 46px;
  border-bottom: 1px solid #ececec;
}
.table .container .column .entries .entry span {
  position: relative;
  letter-spacing: -2px;
  font-size: 55px;
  color: #e6ebeb;
  top: -15px;
}
.table .container .column .entries .entry .rate {
  color: #40db6f !important;
}
.table .container .column .entries .entry .progression {
  height: 8px;
  border-radius: 10px;
  background: #e6ebeb;
  width: 80%;
  overflow: hidden;
}
.table .container .column .entries .entry .progression .progress {
  background: #40db6f;
}

/*# sourceMappingURL=snake.css.map */
