.pos-fixed {
  position: fixed;
}
.pos-absolute {
  position: absolute;
}
.pos-relative {
  position: relative;
}
.pos-float-left {
  float: left;
}
.pos-float-right {
  float: right;
}
.pos-float-end {
  clear: both;
}
.pos-mrg-right-1 {
  margin-right: 10px;
}
.pos-mrg-bottom-1 {
  margin-bottom: 10px !important;
}
.pos-mrg-bottom-2 {
  margin-bottom: 20px !important;
}
.pos-flex-display, .pos-flex-globally, .pos-flex-vertically, .eff-cursor-alt .alt-title, .eff-cursor-alt-left .alt-title, .eff-cursor-alt-right .alt-title, .eff-cursor-alt-top .alt-title, .eff-cursor-alt-bottom .alt-title, .pos-flex-horizontally {
  display: flex;
}
.pos-flex-horizontally {
  justify-content: center;
}
.pos-flex-vertically, .eff-cursor-alt .alt-title, .eff-cursor-alt-left .alt-title, .eff-cursor-alt-right .alt-title, .eff-cursor-alt-top .alt-title, .eff-cursor-alt-bottom .alt-title {
  align-items: center;
}
.pos-flex-globally {
  align-items: center;
  justify-content: center;
}
.pos-dim-maxwidth {
  width: 100%;
}
.pos-dim-maxheight {
  height: 100%;
}
.pos-dim-screenfixed {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.eff-cursor-events-none, .eff-cursor-alt .alt-title, .eff-cursor-alt-left .alt-title, .eff-cursor-alt-right .alt-title, .eff-cursor-alt-top .alt-title, .eff-cursor-alt-bottom .alt-title {
  pointer-events: none;
}
.eff-cursor-alt:hover .alt-title, .eff-cursor-alt-left:hover .alt-title, .eff-cursor-alt-right:hover .alt-title, .eff-cursor-alt-top:hover .alt-title, .eff-cursor-alt-bottom:hover .alt-title {
  visibility: visible;
  opacity: 1;
  transition: 0.1s !important;
  transform: scale(1);
  bottom: -25px !important;
}
.eff-cursor-alt .alt-title, .eff-cursor-alt-left .alt-title, .eff-cursor-alt-right .alt-title, .eff-cursor-alt-top .alt-title, .eff-cursor-alt-bottom .alt-title {
  white-space: nowrap;
  position: absolute;
  z-index: 999999;
  border-radius: 6px;
  color: white;
  transform: scale(0.9);
  padding: 0 20px 0 20px;
  overflow-wrap: break-word;
  font-size: 10px;
  text-align: center;
  height: 22px;
  bottom: -15px;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0s !important;
  visibility: hidden;
  opacity: 0;
}
.eff-cursor-alt .alt-title hr, .eff-cursor-alt-left .alt-title hr, .eff-cursor-alt-right .alt-title hr, .eff-cursor-alt-top .alt-title hr, .eff-cursor-alt-bottom .alt-title hr {
  height: 1px;
  border: 0;
  background: #3f3939;
}
.eff-cursor-alt .alt-title:after, .eff-cursor-alt-left .alt-title:after, .eff-cursor-alt-right .alt-title:after, .eff-cursor-alt-top .alt-title:after, .eff-cursor-alt-bottom .alt-title:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 3px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.7);
  border-top: 0;
  margin-left: -3px;
  margin-top: -3px;
}
.eff-cursor-alt-top:hover .alt-title {
  top: -25px;
}
.eff-cursor-alt-top .alt-title {
  top: -15px;
}
.eff-cursor-alt-top .alt-title:after {
  top: unset !important;
  bottom: -4px !important;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
}
.eff-cursor-alt-right:hover .alt-title {
  left: calc(100% + 5px);
}
.eff-cursor-alt-right .alt-title {
  left: calc(100% - 15px);
  top: 50% !important;
  margin-top: -10px;
}
.eff-cursor-alt-right .alt-title:after {
  top: unset !important;
  right: -5px;
  border-style: solid;
  width: 0;
  height: 0;
  left: -5px;
  margin: unset;
  border-width: 4.5px 5px 4.5px 0;
  border-color: transparent rgba(0, 0, 0, 0.7) transparent transparent;
}
.eff-cursor-alt-left:hover .alt-title {
  right: calc(100% + 5px);
  left: unset;
}
.eff-cursor-alt-left .alt-title {
  right: calc(100% - 15px);
  top: 50% !important;
  margin-top: -10px;
}
.eff-cursor-alt-left .alt-title:after {
  top: unset !important;
  right: -5px;
  border-style: solid;
  width: 0;
  height: 0;
  left: unset;
  margin: unset;
  border-width: 4.5px 0 4.5px 5px;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.7);
}
.eff-cursor-type-pointer, .eff-cursor-outline-hover-4:hover, .eff-cursor-outline-hover-3:hover, .eff-cursor-outline-hover-2:hover, .eff-cursor-outline-focus:focus, .eff-cursor-outline-active:active {
  cursor: pointer;
}
.eff-cursor-type-move {
  cursor: move;
}
.eff-cursor-type-grabbing {
  cursor: grabbing;
}
.eff-cursor-outline-none {
  outline: none;
}
.eff-cursor-outline-active:active {
  box-shadow: rgba(0, 132, 255, 0.5) 0 0 0 4px !important;
  transition: 0.2s;
  outline: 0;
  border-color: rgba(78, 79, 99, 0.5);
}
.eff-cursor-outline-focus:focus {
  box-shadow: rgba(0, 132, 255, 0.5) 0 0 0 4px !important;
  transition: 0.2s;
  outline: 0;
  border-color: rgba(78, 79, 99, 0.5);
}
.eff-cursor-outline-hover-2:hover {
  box-shadow: rgba(0, 132, 255, 0.5) 0 0 0 2px !important;
  transition: 0.2s;
}
.eff-cursor-outline-hover-3:hover {
  box-shadow: rgba(0, 132, 255, 0.5) 0 0 0 3px !important;
  transition: 0.2s;
}
.eff-cursor-outline-hover-4:hover {
  box-shadow: rgba(0, 132, 255, 0.5) 0 0 0 4px !important;
  transition: 0.2s;
}

.animate-shine-basic {
  overflow: hidden;
}
.animate-shine-basic:after {
  content: "";
  top: 0;
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  position: absolute;
  animation: shineSlide 1.2s infinite;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.8)), color-stop(99%, rgba(128, 186, 232, 0)), color-stop(100%, rgba(125, 185, 232, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffffff", endColorstr="#007db9e8", GradientType=1);
  /* IE6-9 */
}
.animate-shine-hover {
  position: relative;
  flex: 0 0 auto;
  width: 280px;
  overflow: hidden;
  height: 195px;
  vertical-align: top;
  letter-spacing: normal;
  text-rendering: auto;
}
.animate-shine-hover:after {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  left: 0;
  pointer-events: none;
  width: 0%;
  border-radius: 5px;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.5);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.animate-shine-hover:hover:after {
  width: 100%;
  border-radius: 5px;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.animate-spinner-circle-loader {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  width: 40px;
  height: 40px;
}
.animate-spinner-circle-loader .path {
  stroke-linecap: round !important;
  -webkit-animation: dash 1.5s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite;
  stroke: black;
  stroke-width: 3px;
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
.animate-spinner-circle-stopwatch {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  pointer-events: none;
  margin-bottom: 10px;
  border: 6px solid #e8e8e8;
}
.animate-spinner-circle-stopwatch .circle {
  left: -6px;
  top: -6px;
  width: 100%;
  height: 100%;
  position: relative;
  border: 5px solid #000;
  border-radius: 50%;
  transform: rotate(45deg);
  clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  animation: change 5s linear forwards;
}
@keyframes change {
  25% {
    clip-path: polygon(50% 50%, 0 0, 0 100%, 0 100%, 0 100%, 0 100%);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 0 100%, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 0 100%, 100% 100%, 100% 0, 100% 0);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 0 100%, 100% 100%, 100% 0, 0% 0%);
  }
}
.animate-spinner-circle-progress {
  height: calc(100% + 90px);
  bottom: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.24), white);
  z-index: 999;
}
.animate-spinner-circle-progress svg {
  height: 45px;
  width: 45px;
}
.animate-spinner-circle-progress svg .Progress {
  fill: transparent;
  stroke-width: 7;
  stroke-linecap: round;
  stroke: black;
  stroke-dasharray: 314.16;
  stroke-dashoffset: 314.16;
  transition: stroke-dashoffset 0.5s ease;
}
.animate-spinner-circle-progress svg .Text {
  fill: black;
  font: 35px "Montserrat Bold", Arial, sans-serif;
  -moz-transform: translateY(0.25em);
  -ms-transform: translateY(0.25em);
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);
}
.animate-spinner-circle-progress svg .Text .Number {
  font-size: 0.6em;
  line-height: 1;
  text-anchor: middle;
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}
.animate-dots-jumping {
  position: relative;
}
.animate-dots-jumping span {
  display: inline-block;
  float: left;
  margin: 0 3.6px;
  animation: jump 1s infinite;
  position: relative;
}
.animate-dots-jumping span:nth-child(1) {
  animation-delay: 0s;
}
.animate-dots-jumping span:nth-child(2) {
  animation-delay: 0.1s;
}
.animate-dots-jumping span:nth-child(3) {
  animation-delay: 0.2s;
}
@keyframes jump {
  0% {
    bottom: 0px;
  }
  20% {
    bottom: 7px;
  }
  40% {
    bottom: 0px;
  }
}
.animate-dots span {
  opacity: 0;
  animation: ellipsis-dot 1s infinite;
}
.animate-dots span:nth-child(1) {
  animation-delay: 0s;
}
.animate-dots span:nth-child(2) {
  animation-delay: 0.1s;
}
.animate-dots span:nth-child(3) {
  animation-delay: 0.2s;
}
@keyframes ellipsis-dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=physics.css.map */
