.box {
  &-white {
    $borderColor: #ebebeb;
    background: white;


    @for $i from 1 through 3 {
      &-border-#{$i} {
        @extend .box-white;
        border: #{$i}px solid #{$borderColor};
      }
      &-shadow-#{$i} {
        @extend .box-white;
        box-shadow: 0 0 #{$i * 2}px #{$i * 2}px rgba(0, 0, 0, 0.08);
      }
      &-radius-#{$i} {
        @extend .box-white;
        border-radius: #{$i * 5}px;
      }

      @for $x from 1 through 3 {
        &-border-#{$i}-shadow-#{$x} {
          @extend .box-white-border-#{$i};
          @extend .box-white-shadow-#{$x};
        }
        &-radius-#{$i}-shadow-#{$x} {
          @extend .box-white-radius-#{$i};
          @extend .box-white-shadow-#{$x};
        }
        &-border-#{$i}-radius-#{$x} {
          @extend .box-white-border-#{$i};
          @extend .box-white-radius-#{$x};
        }

        @for $y from 1 through 3 {
          &-border-#{$i}-shadow-#{$x}-radius-#{$y} {
            @extend .box-white-border-#{$i};
            @extend .box-white-shadow-#{$x};
            @extend .box-white-radius-#{$y};
          }
        }
      }
    }
  }

  &-slider {
    position: relative;
    width: 300px;
    height: 200px;
    color: black;
    overflow: hidden;
    user-select: none;
    background-color: #dfdfdf;
    border-radius: 15px;


    .slide {
      position: absolute;
      width: 100%;;
      height: 100%;
      z-index: -1;
    }

    .dots {
      width: 100%;
      bottom: 12%;
      height: 11px;
      position: absolute;
      text-align: center;
      z-index: 99;
      cursor: default;

      .dot {
        @extend .eff-cursor-outline-hover-3;
        top: -5px;
        width: 18px;
        height: 18px;
        margin: 0 4px;
        position: relative;
        border-radius: 100%;
        display: inline-block;
        background-color: white;
      }

    }

    #slider-slide-checker-1, #slider-slide-checker-2, #slider-slide-checker-3, #slider-slide-checker-4, #slider-slide-checker-5 {
      display: none;
    }

    #slider-slide-checker-1:checked ~ #slider-slide-1,
    #slider-slide-checker-2:checked ~ #slider-slide-2,
    #slider-slide-checker-3:checked ~ #slider-slide-3,
    #slider-slide-checker-4:checked ~ #slider-slide-4,
    #slider-slide-checker-5:checked ~ #slider-slide-5 {
      z-index: 9;
    }

    #slider-slide-checker-1:checked ~ .dots #slider-dot-1,
    #slider-slide-checker-2:checked ~ .dots #slider-dot-2,
    #slider-slide-checker-3:checked ~ .dots #slider-dot-3,
    #slider-slide-checker-4:checked ~ .dots #slider-dot-4,
    #slider-slide-checker-5:checked ~ .dots #slider-dot-5 {
      background-color: #6e6e6e;
    }
  }
}