/* Error: The target selector was not found.
 * Use "@extend .eff-cursor-outline-hover-3 !optional" to avoid this error.
 *    ,
 * 74 |         @extend .eff-cursor-outline-hover-3;
 *    |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   boxs.scss 74:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: The target selector was not found.\aUse "@extend .eff-cursor-outline-hover-3 !optional" to avoid this error.\a    \2577 \a 74 \2502          @extend .eff-cursor-outline-hover-3;\d\a    \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   boxs.scss 74:9  root stylesheet';
}
