$outlineColor: rgba(0, 132, 255, 0.5);
$borderColor: rgba(78, 79, 99, 0.5);


.eff {
  &-cursor {
    &-events {
      &-none {
        pointer-events: none;
      }
    }

    &-alt {
      &:hover .alt-title {
        visibility: visible;
        opacity: 1;
        transition: 0.1s !important;
        transform: scale(1.0);
        bottom: -25px !important;
      }

      .alt-title {
        @extend .eff-cursor-events-none;
        @extend .pos-flex-vertically;
        white-space: nowrap;
        position: absolute;
        z-index: 999999;
        border-radius: 6px;
        color: white;
        transform: scale(0.9);
        padding: 0 20px 0 20px;
        overflow-wrap: break-word;
        font-size: 10px;
        text-align: center;
        height: 22px;
        bottom: -15px;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 0s !important;
        visibility: hidden;
        opacity: 0;


        hr {
          height: 1px;
          border: 0;
          background: #3f3939;
        }

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 50%;
          width: 0;
          height: 0;
          border: 3px solid transparent;
          border-bottom-color: rgba(0, 0, 0, 0.7);
          border-top: 0;
          margin-left: -3px;
          margin-top: -3px;
        }

      }

      &-bottom {
        @extend .eff-cursor-alt;
      }

      &-top {
        @extend .eff-cursor-alt;

        &:hover .alt-title {
          top: -25px;
        }

        .alt-title {
          top: -15px;

          &:after {
            top: unset !important;
            bottom: -4px !important;
            border-style: solid;
            border-width: 4px 4px 0 4px;
            border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
          }
        }
      }

      &-right {
        @extend .eff-cursor-alt;

        &:hover .alt-title {
          left: calc(100% + 5px);
        }

        .alt-title {
          left: calc(100% - 15px);
          top: 50% !important;
          margin-top: -10px;


          &:after {
            top: unset !important;
            right: -5px;
            border-style: solid;
            width: 0;
            height: 0;
            left: -5px;
            margin: unset;
            border-width: 4.5px 5px 4.5px 0;
            border-color: transparent rgba(0, 0, 0, 0.7) transparent transparent;
          }
        }
      }

      &-left {
        @extend .eff-cursor-alt;

        &:hover .alt-title {
          right: calc(100% + 5px);
          left: unset;
        }

        .alt-title {
          right: calc(100% - 15px);
          top: 50% !important;
          margin-top: -10px;


          &:after {
            top: unset !important;
            right: -5px;
            border-style: solid;
            width: 0;
            height: 0;
            left: unset;
            margin: unset;
            border-width: 4.5px 0 4.5px 5px;
            border-color: transparent transparent transparent rgba(0, 0, 0, 0.7);
          }
        }
      }
    }

    &-type {
      &-pointer {
        cursor: pointer;
      }

      &-move {
        cursor: move;
      }

      &-grabbing {
        cursor: grabbing;
      }
    }

    &-outline {
      @mixin effects-outline($width) {
        @extend .eff-cursor-type-pointer;
        box-shadow: #{$outlineColor} 0 0 0 #{$width}px !important;
      }

      &-none {
        outline: none;
      }

      &-active {
        &:active {
          @include effects-outline(4);
          transition: 0.2s;
          outline: 0;
          border-color: #{$borderColor};
        }
      }

      &-focus {
        &:focus {
          @include effects-outline(4);
          transition: 0.2s;
          outline: 0;
          border-color: #{$borderColor};
        }
      }

      @for $i from 2 through 4 {
        &-hover-#{$i} {
          &:hover {
            @include effects-outline(#{$i});
            transition: 0.2s;
          }
        }
      }


    }
  }
}
