/* Error: The target selector was not found.
 * Use "@extend .pos-flex-vertically !optional" to avoid this error.
 *    ,
 * 24 |         @extend .pos-flex-vertically;
 *    |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   effects.scss 24:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: The target selector was not found.\aUse "@extend .pos-flex-vertically !optional" to avoid this error.\a    \2577 \a 24 \2502          @extend .pos-flex-vertically;\d\a    \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   effects.scss 24:9  root stylesheet';
}
